

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

hw2/stud/__pycache__/*
hw2/stud/lightning_logs/*
wandb
data
logs
